/* element-ui样式全局修改 */
/* 分页按钮默认样式 */
.el-pagination.is-background {
    display: flex;
    ul {
        display: flex;
    }
    .btn-next,
    .btn-prev,
    .el-pager li {
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: var(--purple);
            border: 1px solid var(--purple);
        }
    }
}
.el-drawer__wrapper {
    outline: none;
}
.el-drawer__container {
    outline: none;
}
html {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    /* background-color: blanchedalmond; */
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

i {
    font-style: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    &:focus {
        // outline: -webkit-focus-ring-color auto 1px;
        outline: 0 !important;
    }
}
// 通用圆角
.border-radius-10 {
    border-radius: 10px;
}
// 定义阴影
.shadow {
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.12), 0px 0px 6px rgba(0, 0, 0, 0.04);
}
.shadow-only-bottom {
    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.12);
}
.shadow-only-right {
    box-shadow: 7px 0px 7px -7px #5e5e5e;
}
.shadow-only-left {
    box-shadow: -7px 0px 7px -7px #5e5e5e;
}
.showdow-only-top {
    box-shadow: 0px -7px 7px -7px #5e5e5e;
}
/** 滚动条 **/
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: transparent;
}
/** 弹性布局 **/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between-column {
    @extend .flex-between;
    flex-direction: column;
}
.flex-around-column {
    @extend .flex-around;
    flex-direction: column;
}
/** 按钮遮罩 **/
.btn-disabled {
    opacity: 0.3 !important;
    position: relative;
}

.btn-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
